* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	display: grid;
	justify-content: center;
	margin-top: 50px;
	height: 100vh;
}

.content-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    width: 300px;
    height: 300px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    padding: 20px;

    border: 1px solid #333;
}

.number {
    padding: 10px 40px;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

figure {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-counter {
    text-align: center;
    font-size: 40px;
}

.main-action {
    display: flex;
    justify-content: space-evenly;
}

.main-button__minus,
.main-button__plus {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: none;
    font-size: 100%;
}
